<div class="container" ng-controller="detailCtrl">
    <div ng-repeat="item in product ">
        <div ng-if="item.id == uid">
            <div class="row detail-main">
                <div class="col-md-5 img-detail">
                    <img src="{{item.image}}" class="" alt="...">
                </div>
                <div class="col-md-7">
                    <h1 class="card-title detail-name text-truncate">{{item.name}}</h1>                            
                    <p class="card-text detail-text"> 
                        <a>Time takes place :</a>
                        {{item.time}}
                    </p>
                    <p class="card-text detail-text">
                        <a>Religion :</a>
                        {{item.religion}}
                        </p>
                    <p class="card-text detail-text">
                        <a>Description :</a>  
                        {{item.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>