<div class="container mainfestival">
    <div class="row">
        <div class="col-lg-3">

            <h4 class="text-dark">Filter by Month</h4>
            <div>
                <form name="myForm" ng-submit="filterMonth(month)">
                    <input type="text" class="form-control filtermonth" placeholder="Filter by Month" ng-model="month">
                    <button type="submit" class="btn btn-primary btn-block">Filter</button>
                    <p ng-show="status">Invalid Month</p>
                </form>
            </div>

            <h4 class="text-dark">Filter by Religions</h4>
            <div ng-repeat="item in religions">
                <button ng-click="reliFilter(item.id)" class="btn btn-primary btn-block mt-4">{{item.name}}</button>
            </div>

            

            <h4 class="text-dark">Filter by Nation</h4>
            <div ng-repeat="item in nations">
                <button ng-click="nationFilter(item.id)" class="btn btn-primary btn-block mt-4">{{item.name}}</button>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-4"
                    ng-repeat="pro in product | filter:relisfilter | filter:monthfilter | filter:nationfilter | orderBy:propertyName:reverse">
                    <div class="card mt-3 in4festival" style="width: 17rem;">
                        <img src="{{pro.image}}" class="card-img hid" alt="...">
                        <div class="card-body ">
                            <h5 class="card-title text-truncate">{{pro.name}}</h5>                            
                            <p class="card-text prtime">Time takes place : {{pro.time}}</p>
                            <p class="card-text prreligion">Religion : {{pro.religion}}</p>
                            <p class="bt-view">
                                <a href="#!detail/{{pro.id}}" class="btn btn-primary">View More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>