<div class="news">
    <div class="baner-qc">
        <img src="https://tpc.googlesyndication.com/simgad/4857565785115509828" alt="">
    </div>
    <div class="text-item">
        <h5 class="p-2">The latest news about the </h5>
        <h1 class="pl-2 text-danger">Festival</h1>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <video width="90%" controls autoplay loop>
                <source src="https://assets.mixkit.co/videos/preview/mixkit-crowd-jumping-at-the-concert-14084-large.mp4" type="video/mp4">
                <source src="https://assets.mixkit.co/videos/preview/mixkit-crowd-jumping-at-the-concert-14084-large.mp4" type="video/ogg">
                Your browser does not support HTML video.
            </video>
        </div>
        <div class="col-lg-5">
            <div class="row pb-3">
                <div class="col-lg-5">
                    <img src="https://static.euronews.com/articles/stories/06/91/18/62/508x286_cmsv2_2cb87449-c3ba-5e8b-843a-2030bf1b4154-6911862.jpg"
                        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                        alt="">
                </div>
                <div class="col-lg-7">
                    <p>
                        <strong>UNITED KINGDOM</strong>
                        <br>
                        Edinburgh festival celebrates its 75th year with over 3,000 shows
                    </p>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5">
                    <img src="https://static.euronews.com/articles/stories/06/89/20/64/508x286_cmsv2_e8061897-396a-59ce-98c8-7e68b9cc6f6b-6892064.jpg"
                        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                        alt="">
                </div>
                <div class="col-lg-7">
                    <p>
                        <strong>NO COMMENT</strong>
                        <br>
                        New Jersey Lottery Festival of Ballooning kicks off
                    </p>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5">
                    <img src="https://static.euronews.com/articles/stories/06/88/29/28/508x286_cmsv2_ff5e02c5-5176-5b19-9784-dabe751de5aa-6882928.jpg"
                        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                        alt="">
                </div>
                <div class="col-lg-7">
                    <p>
                        <strong>HEAR</strong>
                        <br>
                        Festival goers urged to shield their 'most crucial piece of equipment'
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="row pb-3">
                <div class="col-lg-5">
                    <img src="https://static.euronews.com/articles/stories/06/88/33/56/329x185_cmsv2_08cf98f4-1569-5436-861c-928f94146c9d-6883356.jpg"
                        alt="">
                </div>
                <div class="col-lg-7">
                    <h5>Armenians drench each other at water festival</h5>
                    <p>Screaming and water splashes - this is what the Armenian capital looks like during water
                        festival Vardavar.</p>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5">
                    <img src="https://static.euronews.com/articles/stories/06/87/91/56/329x185_cmsv2_ffabb7af-bb7e-5266-a781-810322b2fae6-6879156.jpg"
                        alt="">
                </div>
                <div class="col-lg-7">
                    <h5>This famous music festival has a stage powered by bicycles</h5>
                    <p>Newport Folk festival in Rhode Island, USA hosted a ‘bike stage’ where audience members took
                        it in turns to pedal five bikes powering the performance, in exchange for a front row seat.
                    </p>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5">
                    <img src="https://static.euronews.com/articles/stories/06/87/62/46/329x185_cmsv2_e5e15f10-906e-5886-8397-d83e96827c35-6876246.jpg"
                        alt="">
                </div>
                <div class="col-lg-7">
                    <h5>Newport Folk Festival stage powered by bikes</h5>
                    <p>This weekend's Newport Folk Festival features a small outdoor stage powered in part by
                        festival goers on stationary bikes.</p>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5">
                    <img src="https://static.euronews.com/articles/stories/06/85/82/18/329x185_cmsv2_19f23b90-75a9-5ebb-a55c-b9801c676373-6858218.jpg"
                        alt="">
                </div>
                <div class="col-lg-7">
                    <h5>Peru celebrates International Dog Day with race</h5>
                    <p>Pet owners in Lima took part in a race with their four-legged companions on Sunday as part of
                        an event to mark International Dog Day.</p>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5">
                    <img src="https://static.euronews.com/articles/stories/06/85/38/60/329x185_cmsv2_ee691166-91f0-51c3-ad0c-bca129884ef9-6853860.jpg"
                        alt="">
                </div>
                <div class="col-lg-7">
                    <h5>This is Durbar Festival: Nigeria's most vibrant horse parade</h5>
                    <p>The end of Eid al-Adha in Nigeria is celebrated each year at the Durbar Festival, which
                        features huge horse parades all across the country. But why are horses so significant in
                        Nigerian culture?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <img src="https://static.euronews.com/articles/stories/06/84/92/92/329x185_cmsv2_a58ca26a-980f-541a-9f8a-7e13e86e5146-6849292.jpg"
                        alt="">
                </div>
                <div class="col-lg-7">
                    <h5>Six injured on last day of Spain's running of the bulls</h5>
                    <p>The Navarra regional government said six people were treated for minor injuries following the
                        final running of the bulls at this year’s San Fermín Festival on Thursday.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="advertisement pb-4">
                <img src="https://tpc.googlesyndication.com/simgad/4311294684648820532"
                    class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                    alt="">
            </div>
            <div class="advertisement pb-4">
                <img src="https://tpc.googlesyndication.com/simgad/5658113645437756162"
                    class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                    alt="">
            </div>
        </div>

    </div>
</div>