<article>
    <h3>The tour</h3>
    
        <div class="new_tour row">
            <div class="new_item col-lg-4 col-md-4">
                <h4>DALAT FOLWER CITY</h4>
                <img src="" alt="">
                <div class="content">
                    Service with Tour Guide Air-Conditioning Motorbike Eat according to the program of Insurance Sightseeing Tickets
                </div>
            </div>
            <div class="new_item col-lg-4 col-md-4">
                <h4>NAMDU ISLAND-HON CU TRON</h4>
                <img src="" alt="">
                <div class="content">
                    Service with Tour Guide Air-Conditioning Motorbike Eat according to the program of Insurance Sightseeing Tickets
                </div>
            </div>
            <div class="new_item col-lg-4 col-md-4" id="fix">
                <h4>PHUKET-HOLIDAY PARADISE</h4>
                <img src="" alt="">
                <div class="content">
                    Service with Tour Guide Air-Conditioning Motorbike Eat according to the program of Insurance Sightseeing Tickets
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>

   
</article>

<article>
    <h3>The tour is in progress</h3>
    <div class="new_tour row">
        <div class="new_item col-lg-4 col-md-4">
            <h4>HANOI - TRANGAN - HALONG BAIDINH PAGODA - KDL YENTU</h4>
            <img src="" alt="">
            <div class="content">
                <a>Service with Tour Guide Air-Conditioning Motorbike Eat according </a>
                <p>to the program of Insurance Sightseeing Tickets</p>
            </div>
        </div>
        <div class="new_item col-lg-4 col-md-4">
            <h4>HONSON ISLAND - KIEN GIANG</h4>
            <img src="" alt="">
            <div class="content">
                <a>Service with Tour Guide Air-Conditioning Motorbike Eat according </a>
                <p>to the program of Insurance Sightseeing Tickets</p>
            </div>
        </div>
        <div class="new_item col-lg-4 col-md-4" id="fix">
            <h4>PHUQUOC ISLAND</h4>
            <img src="" alt="">
            <div class="content">
                <a>Service with Tour Guide Air-Conditioning Motorbike Eat according </a>
                <p>to the program of Insurance Sightseeing Tickets</p>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</article>
<article>
    <h3>The tour is about to open</h3>
    <div class="new_tour row">
        <div class="new_item col-lg-4 col-md-4">
            <h4>DALAT FOLWER CITY</h4>
            <img src="" alt="">
            <div class="content">
                Service with Tour Guide Air-Conditioning Motorbike Eat according to the program of Insurance Sightseeing Tickets
            </div>
        </div>
        <div class="new_item col-lg-4 col-md-4">
            <h4>NAMDU ISLAND-HON CU TRON</h4>
            <img src="" alt="">
            <div class="content">
                Service with Tour Guide Air-Conditioning Motorbike Eat according to the program of Insurance Sightseeing Tickets
            </div>
        </div>
        <div class="new_item col-lg-4 col-md-4" id="fix">
            <h4>CHAU DOC - LONG XUYEN</h4>
            <img src="" alt="">
            <div class="content">
                Service with Tour Guide Air-Conditioning Motorbike Eat according to the program of Insurance Sightseeing Tickets
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</article>